body {
	transition: all .5s ease;
	display: -webkit-flex;
   	display: flex;
   	font-family: 'Montserrat', sans-serif;
   	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
}
article {
	margin: 20%; 
	margin-top: 30px;
	border-radius: 15px;
	padding: 20px;
	background-color: orange;
}
#help {
	
	background-color: #888;
	color: white;
	border-radius: 15px;
	padding: 10px;
	width: 33%;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}
#result {
	margin-top: 10px;
}