body {
	transition: all .5s ease;
	display: -webkit-flex;
   	display: flex;
   	font-family: 'Montserrat', sans-serif;
   	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: space-between;
	align-items: space-between;
	flex-wrap: wrap;
}
article {
	width: 70%; 
	margin-top: 30px;
	border-radius: 15px;
	padding: 20px;
	background-color: orange;
}
#help {
	background-color: #888;
	color: white;
	border-radius: 15px;
	padding: 10px;
	width: 20%;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

h1 {
	font-size: xx-large;
	font-weight: black;
}

h2 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}